.header {
  height: 56px;
  background-color: #1B8C3E;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 16px;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menuBtn {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.logo {
  font-size: 18px;
  font-weight: 600;
}

.avatar {
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 10px;
  border-radius: 50%;
  font-weight: bold;
}